# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/

# =========================
# Env & secrets
# =========================
.env

# =========================
# Docs / misc
# =========================
README.md

# =========================
# Nginx runtime files
# =========================
nginx/*.log
