# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environment
# =========================
venv/
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Nginx temp files (if any)
# =========================
nginx/*.log

# =========================
# Docker
# =========================
*.tar
